  .policy-view-desktop-wrapper {
    padding: 2rem;
    width: 80vw;
    max-width: 800px;
    margin: 5rem auto;
  }
  .policy-view-desktop-wrapper h3 {
    text-transform: uppercase;
    font-size: 1rem;
  }
  .policy-view-desktop-wrapper p, .policy-view-desktop-wrapper li {
    font-size: 1rem;
    padding-top: 1rem;
    line-height: auto;
  }

  .policy-view-wrapper{
    margin: 2rem auto;
}