@media screen and (min-width: 760px) {
  .policy-view-policy-wrapper {
    padding: 2rem;
    max-width: 800px;
    margin: 5rem auto;
  }
  .policy-view-policy-wrapper h3 {
    text-transform: uppercase;
    font-size: 1rem;
  }
  .policy-view-policy-wrapper p, .policy-view-policy-wrapper li {
    font-size: 1rem;
    padding-top: 1rem;
    line-height: auto;
  }
}