@media screen and (max-width: 760px) {
  .accordion-outer-title-angle {
    color: #454545;
    text-transform: uppercase;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    margin: 10vw auto;
    width: 90%;
  }
  .accordion-outer-title-angle h2 {
    font-size: 5vw;
    font-weight: 400;
  }
  .accordion-outer-angle-icon {
    margin: auto 2rem;
    font-size: 5vw;
  }
  .accordion-hr {
    color: #454545;
    border-bottom: #454545 solid 1px;
    margin: 0;
  }
  .accordion-outer-exercises-wrapper h4 {
    font-size: 4vw;
    font-weight: 300;
    text-transform: uppercase;
  }
  .accordion-outer-exercises-wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 2vw;
  }
}