.homeViewContainer {
    display: grid;
    background-color: aqua;
    height: 100vw;
}

.HomeViewWrapper {
    width: 100%;
    margin: 2rem auto;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid: 1/1;
}

.buttonOne, .buttonTwo, .buttonThree {
    background-color: #FEFDFA;
    margin: 5vw;
    width: 80%;
    height: 27vw;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: #F1BB4E;
    border: #ffaa00 2px solid;
    font-size: 5vw;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonOne {
    grid-row: 1;
}

.CreateAccount {
    grid-row: 2;
    justify-self: center;
    padding-top: 2%;
    font-size: 3vw;
    font-family: Roboto;
    font-style: normal;
    color: #F1BB4E;
    text-align: center;
}

.buttonTwo {
    grid-row: 3;
}

.buttonThree {
    grid-row: 5;
}