/* PRICES WRAPPER */

.prices-view-prices-wrapper {
  padding: 10vw;
}

.prices-view-prices-wrapper h3 {
  text-transform: uppercase;
  font-size: 5vw;
  letter-spacing: .4vw;
}

.prices-view-prices-wrapper h3 span {
  font-size: 3.5vw;
}

.prices-view-prices-wrapper p {
  font-size: 4vw;
  padding-top: 2vw;
  line-height: 8vw;
}

.prices-view-prices-wrapper div {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.prices-view-prices-wrapper div h4 {
  align-self: center;
  letter-spacing: .5vw;
  font-size: 6vw;
  font-weight: 200;
}

.prices-view-prices-wrapper div img {
  align-self: center;
  width: 20vw;
}

/* form {
  display: flex;
  flex-direction: column;
  padding: 10vw;
}

form p {
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: .4vw;
}

form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3vw 0;
  text-transform: uppercase;
  font-size: 3vw;
  letter-spacing: 0.3vw;
  font-weight: 100;
}

form input {
  padding: 2vw;
  border-radius: 3vw;
  margin: 2vw 0;
  background-color: rgb(238, 238, 238);
  font-size: 6vw;
  font-weight: 200;
  color: #454545;
  border: none;
}

form input:active {
  background-color: rgb(235, 235, 235);
}

form input::placeholder {
  text-transform: uppercase;
  font-size: 3vw;
  letter-spacing: 0.3vw;
  font-style: italic;
  font-weight: 100;
  opacity: 0.4;
} */