.instructors-card-wrapper {
  padding: 5vw;
}

.instructors-card-wrapper h2 {
  font-weight: 400;
  font-size: 6vw;
}

.instructors-card-wrapper p {
  font-size: 4vw;
}

.instructors-card-wrapper img {
  width: 100%;
}