* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Background colors */

.bg-color-blue {
  background-color: blue;
}

.bg-color-green {
  background-color: rgb(124, 160, 124);
}

.bg-color-white {
  background-color: #fff;
}

.bg-color-black {
  background-color: #454545;
}

.bg-color-yogui {
  background-color: #F46101;
}

/* Font colors */

.font-grey {
  color: #4d4d4d
}

.font-light-grey {
  color: #bbbbbb
}

.font-white {
  color: #f1f1f1
}

.font-black {
  color: #454545
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.452) 3px 5px 10px;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.747) 3px 3px 2px;
}

.line-divider {
  width: 80vw;
  height: 1px;
  background-color: rgb(224, 164, 53);
}

.line-divider-mobile {
  width: 100%;
  height: 1px;
  background-color: rgb(224, 164, 53);
  margin: 0 auto;
}
.line-divider-desktop{
  width: 100%;
  max-width: 1200px;
  height: 1px;
  margin: 5rem auto;
  background-color: rgb(224, 164, 53);
}
.text-wrapper{
  margin: 2rem auto;
}
.col-1 {
  grid-column: 1;
}

.col-2 {
  grid-column: 2;
}

.col-2 {
  grid-column: 2;
}

.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

.row-3 {
  grid-row: 3;
}

.row-4 {
  grid-row: 4;
}

.margin-2rem-auto {
  margin: 2rem auto;
}
  .margin-4rem-auto {
  margin: 4rem auto;
}

.margin-15vw-auto {
  margin: 15vw auto;
}
.margin-5vw-auto {
  margin: 5vw auto;
}

.margin-10vw-auto {
  margin: 10vw auto;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-button-left-mobile {
  border-radius: 0 7vw 7vw 0;
  height: 20vw;
  font-size: 5vw;
  text-transform: uppercase;
  border: ivory solid 1px;
  left: -1px;
}

.side-button-left-desktop {
  border-radius: 7vw 0 0 7vw;
  height: 5rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  border: ivory solid 1px;
  left: -1px;
}
.img-container{
width: 100%;
margin: auto;
border-radius: 2rem;
}

@media screen and (max-width: 760px) {
  .img-container{
  width: 100%;
  margin: auto;
  }
}