* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Background colors */

.bg-color-blue {
  background-color: blue;
}

.bg-color-green {
  background-color: rgb(124, 160, 124);
}

.bg-color-white {
  background-color: #fff;
}

.bg-color-black {
  background-color: #454545;
}

.bg-color-yogui {
  background-color: #F46101;
}

/* Font colors */

.font-grey {
  color: #4d4d4d
}

.font-light-grey {
  color: #bbbbbb
}

.font-white {
  color: #f1f1f1
}

.font-black {
  color: #454545
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.452) 3px 5px 10px;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.747) 3px 3px 2px;
}

.line-divider {
  width: 80vw;
  height: 1px;
  background-color: rgb(224, 164, 53);
}

.line-divider-mobile {
  width: 80vw;
  height: 1px;
  background-color: rgb(224, 164, 53);
  margin: 2rem auto;
}

.col-1 {
  grid-column: 1;
}

.col-2 {
  grid-column: 2;
}

.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

.margin-2rem-auto {
  margin: 2rem auto;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-button-left-mobile {
  border-radius: 0 7vw 7vw 0;
  height: 20vw;
  font-size: 5vw;
  text-transform: uppercase;
  border: ivory solid 1px;
  left: -1px;
}

@media screen and (max-width: 760px) {}