/* SCHEDULE WRAPPER */

.info-view-info-wrapper {
  padding: 2rem;
}

.info-view-info-wrapper h3 {
  text-transform: uppercase;
  font-size: 5vw;
}

.info-view-info-wrapper p, .info-view-info-wrapper li {
  font-size: 3vw;
  font-weight: 100;
  padding-top: 1rem;
  line-height: 2rem;
}