.footer-desktop-wrapper {
  /* height: 100vh; */
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.footer-desktop-wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  grid-column: 1/-1;
  grid-row: 1/3;
  font-weight: 600;
}

.footer-desktop-wrapper h1 span {
  padding: 0 .6rem;
}

.line-divider-footer-desktop {
  height: 1px;
  width: 90%;
  max-width: 45rem;
  justify-self: center;
  grid-row: 3;
  opacity: 0.7;
  grid-column: 1/ -1;
}

.footer-desktop-contact-wrapper {
  grid-row: 5/7;
  grid-column: 6/-2;
  display: grid;
  align-content: center;
  /* justify-self: left; */
  grid-template-columns: 10% 90%;
  grid-template-rows: repeat(3, 1fr);
  font-size: 1rem;
  grid-gap: 1rem;
}

.footer-desktop-contact-wrapper div, .footer-desktop-contact-wrapper p {
  align-self: center;
}

.footer-desktop-contact-wrapper p {
  text-align: left;
}

.footer-desktop-contact-wrapper div {
  justify-self: right;
}

.footer-desktop-contact-icon-adress {
  grid-column: 1;
  grid-row: 1;
}

.footer-desktop-contact-icon-phone {
  grid-column: 1;
  grid-row: 2;
}

.footer-desktop-contact-icon-email {
  grid-column: 1;
  grid-row: 3;
}

.footer-desktop-contact-adress {
  grid-column: 2;
  grid-row: 1
}

.footer-desktop-contact-phone {
  grid-column: 2;
  grid-row: 2
}

.footer-desktop-contact-email {
  grid-column: 2;
  grid-row: 3
}

.footer-desktop-wrapper img {
  grid-row: 4/8;
  grid-column: 1/6;
  align-self: center;
  justify-self: right;
  width: 20vw;
  max-width: 10rem;
}

.footer-desktop-copyright {
  grid-column: 1 / -1;
  text-align: center;
  font-size: .7rem;
  align-self: center;
  grid-row: -2/-1;
  letter-spacing: 3px;
}

.footer-desktop-social-media-icons-wrapper {
  grid-row: 8/10;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center;
  display: flex;
}

.footer-desktop-social-media-icons-wrapper a {
  padding: 0 1rem;
  font-size: 5rem;
  color: #bbbbbb;
}