.navbar-mobile-wrapper {
  width: 100%;
}

.navbar-mobile-logo {
  background-color: #FFAA00;
  box-shadow: rgb(124, 124, 124) 0px 6px 6px;
  display: grid;
  grid-template: auto / auto;
}

.navbar-mobile-logo img {
  width: 30vw;
  grid-column: 1;
  margin: 2vw;
}

.navbar-mobile-burger-icon {
  color: #fff;
  font-size: 3rem;
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  font-size: 10vw;
  z-index: 500;
}

.navbar-mobile-menu-wrapper {
  position: absolute;
  background-color: #FFAA00;
  padding: 2rem;
  width: 60%;
  height: 95%;
  border-radius: 0 0 0 3rem;
  right: 0;
  top: 0;
  z-index: 200;
  box-shadow: rgba(54, 54, 54, 0.479) -5px 5px 10px;
}

.navbar-mobile-menu {
  display: grid;
  grid-template: repeat(7, 1fr) / auto;
  height: 100%;
}

.navbar-mobile-menu li {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  font-size: 4vw;
  align-self: center;
  justify-self: right;
  letter-spacing: 1px;
}

.navbar-mobile-item-1 {
  grid-row: 2;
}

.navbar-mobile-item-2 {
  grid-row: 3;
}

.navbar-mobile-item-3 {
  grid-row: 4;
}

.navbar-mobile-item-4 {
  grid-row: 5;
}

.navbar-mobile-item-5 {
  grid-row: 6;
}

.navbar-mobile-blurry-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  transition: 200ms;
}