.navbar-mobile-wrapper {
  width: 100%;
  box-shadow: #45454565 0px 6px 6px;
  z-index: 300;
}

.navbar-mobile-logo {
  display: grid;
  grid-column: 1;
}

.navbar-mobile-logo img {
  width: 10vw;
  z-index: 300;
  align-self: center;
}

.navbar-mobile-wrapper-inner {
  z-index: 200;
  padding: 2vw 4vw;
  display: grid;
  grid-template-columns: auto auto auto
}

.navbar-mobile-title-wrapper {
  z-index: 300;
  grid-column: 2;
  padding: 0 5vw;
  align-self: center;
}

.navbar-mobile-title-wrapper h1 {
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.navbar-mobile-title-wrapper h2 {
  font-size: 2.5vw;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.navbar-icon-wrapper {
  z-index: 300;
  font-size: 7vw;
  grid-column: -1;
  justify-self: right;
  align-self: center;
}

.navbar-mobile-menu-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.navbar-mobile-menu-wrapper ul {
  padding: 20vw 0 0 0;
}

.navbar-mobile-menu-wrapper li {
  list-style: none;
  text-transform: uppercase;
  text-align: right;
  padding: 8vw 10vw;
  font-size: 5vw;
}

.line-divider-navbar {
  width: 100%;
  height: 1px;
  background-color: rgb(177, 93, 14);
  margin: 1vw auto;
}