.navbar-mobile-wrapper {
  width: 100%;
  box-shadow: #45454565 0px 6px 6px;
  z-index: 3000;
  position: relative;
}

.navbar-mobile-logo {
  display: grid;
  grid-column: 1;
}

.navbar-mobile-logo img {
  width: 15vw;
  z-index: 300;
  align-self: center;
}

.navbar-mobile-wrapper-inner {
  z-index: 200;
  padding: 2vw 4vw;
  display: grid;
  grid-template-columns: auto auto auto
}

.navbar-mobile-title-wrapper {
  z-index: 300;
  grid-column: 2;
  padding: 0 5vw;
  align-self: center;
}

.navbar-mobile-title-wrapper h1 {
  font-size: 7vw;
  text-transform: uppercase;
  letter-spacing: 1vw;
  text-align: center;
  font-weight: 600;
}

.navbar-mobile-title-wrapper h2 {
  font-size: 2.5vw;
  text-transform: uppercase;
  letter-spacing: .9vw;
  text-align: center;
}

.navbar-icon-wrapper-inactive {
  z-index: 0;
  font-size: 7vw;
  grid-column: -1;
  justify-self: right;
  align-self: center;
}

.navbar-icon-wrapper-active {
  z-index: 3000;
  font-size: 7vw;
  position: absolute;
  top: 2vw;
  right: 5vw;
}

.navbar-mobile-menu-wrapper {
  width: 80vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 600;
  position: fixed;
}

.navbar-mobile-menu-wrapper ul {
  padding: 10vw 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.navbar-mobile-menu-wrapper li {
  list-style: none;
  text-transform: uppercase;
  text-align: right;
  padding: 1vw 10vw;
  font-size: 5vw;
}

.navbar-mobile-menu-wrapper li:active {
  font-size: 5.5vw;
}

.line-divider-navbar {
  width: 100%;
  height: 1px;
  background-color: rgb(177, 93, 14);
  margin: 1vw auto;
}