.default-header-mobile-prices {
  background-image: url(../../../../shared/img/HeaderImgPrices.png);
}

.default-header-mobile-schedule {
  background-image: url(../../../../shared/img/HeaderImg.jpg);
}

.default-header-mobile-information {
  background-image: url(../../../../shared/img/HeaderImg3.png);
}

.default-header-mobile-instructors {
  background-image: url(../../../../shared/img/HeaderImg2.png);
}

.default-header-mobile-wrapper {
  position: relative;
  width: 100vw;
  height: 92vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.default-header-mobile-wrapper h2 {
  grid-row: -4/-1;
  grid-column: 1/6;
  width: fit-content;
  padding: 2vw 4vw;
  align-self: center;
  font-size: 4vw;
  position: relative;
  z-index: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #454545;
  background-color: rgb(255, 255, 255);
  /* background-color: rgba(255, 255, 255, 0.85); */
}

.default-header-mobile-wrapper button {
  z-index: 500;
  grid-row: -4/-2;
  grid-column: 1/4;
  position: relative;
}

@media screen and (min-width: 500px) {
  .default-header-mobile-wrapper h2 {
    font-size: 2rem;
  }
}