.default-section-two-desktop-wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem auto;
}

.default-section-two-desktop-img-wrapper {
  margin: 3rem auto;
  width: 100%;
  padding: 0 2rem;
  display: grid;
}

.default-section-two-desktop-img-wrapper img {
  width: 100%;
  margin: auto;
  opacity: 0.8;
  justify-self: center;
}

.default-section-two-desktop-wrapper h2 {
  padding: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  grid-column: 1/-1;
}

.default-section-two-desktop-wrapper p, .default-section-two-desktop-wrapper h3 {
  padding: .5rem;
  /* font-size: 0.8rem; */
  line-height: auto;
  width: 70%;
  margin: auto;
}

.default-section-two-desktop-text-wrapper {
  grid-column: 2;
  grid-row: 2;
  /* display: grid; */
  align-self: center;
}

.line-divider-home {
  width: 80vw;
  max-width: 1000px;
  height: 1px;
  background-color: rgb(224, 164, 53);
  margin: 2rem auto;
}