.about-us-view-desktop-wrapper {
    padding: 2rem;
    max-width: 800px;
    margin: 5rem auto;
  }
  .about-us-view-desktop-wrapper h3 {
    text-transform: uppercase;
    font-size: 1rem;
  }
  .about-us-view-desktop-wrapper p, .about-us-view-desktop-wrapper li {
    font-size: 1rem;
    padding-top: 1rem;
    line-height: auto;
  }