form {
  display: flex;
  flex-direction: column;
  padding: 10vw;
}

form p {
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: .4vw;
}

form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3vw 0;
  text-transform: uppercase;
  font-size: 3vw;
  letter-spacing: 0.3vw;
  font-weight: 100;
}

form input {
  padding: 2vw;
  border-radius: 3vw;
  margin: 2vw 0;
  background-color: rgb(238, 238, 238);
  font-size: 3vw;
  font-weight: 200;
  color: #454545;
  border: none;
}

form input:active {
  background-color: rgb(235, 235, 235);
}

form input::placeholder {
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  font-style: italic;
  font-weight: 100;
  opacity: 0.4;
}

.register-form-button-wrapper {
  display: flex;
  justify-content: space-between;
}

form button {
  text-transform: uppercase;
  width: 40%;
  padding: 3vw 2vw;
  border-radius: 5vw;
}

.register-form-checkboxes {
  display: flex;
  flex-direction: column;
  margin: 5vw 0;
}

.register-form-checkboxes label {
  display: grid;
  grid-template-columns: 10% 50% 40%;
  grid-template-rows: auto;
}

.register-form-checkboxes p {
  align-self: center;
  text-transform: initial;
  font-weight: 100;
  font-size: 2.5vw;
}

.select-group {
  font-size: 4vw;
  padding: 3vw;
  border-radius: 5vw;
  margin: 3vw 0;
  border: none;
  background-color: rgb(238, 238, 238);
  text-transform: uppercase;
}