.home-desktop-wrapper {}

.home-desktop-header-wrapper {
  position: relative;
  width: 100vw;
  height: 60vw;
  background-image: url(../../../shared/img/IMG_5150.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

/* .home-desktop-header-wrapper h2 {
  grid-row: 2/4;
  grid-column: 4/-1;
  padding: 2rem 4rem;
  align-self: center;
  font-size: 1.5rem;
  justify-self: center;
  position: relative;
  z-index: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #454545;
  width: 30rem;
} */

.home-desktop-header-wrapper button {
  z-index: 500;
  grid-row: 2/4;
  grid-column: 5/-1;
  justify-self: right;
  position: relative;
  max-width: 20rem;
}

.side-button-right-desktop {
  border-radius: 7vw 0 0 7vw;
  /* height: 5rem; */
  font-size: .9rem;
  text-transform: uppercase;
  border: ivory solid 1px;
  border-right: none;
  position: relative;
  padding: 1rem 1.5rem;
}

.white-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: #fff;
}