.footer {
  background-color: #FFF4DE;
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-size: 2vw;
  text-align: center;
}

.icons {
  padding: 7vw 0;
  margin: auto;
  display: flex;
  width: 100vw;
  font-size: 17vw;
  color: #D8A16F;
  justify-content: space-evenly;
}

.all-rights {
  color: rgba(69, 69, 69, 0.6);
  font-size: 2.5vw;
  margin-bottom: 2vw;
}