.footer {
  background-color: #FFF4DE;
  display: flex;
  width: 100vw;
  font-size: 2vw;
}

.icons {
  /* position: absolute; */
  padding: 12vw 0;
  margin: auto;
  display: flex;
  width: 100vw;
  font-size: 17vw;
  color: #D8A16F;
  justify-content: space-evenly;
}