.default-section-one-external-link-desktop-wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem auto;
}

.default-section-one-external-link-desktop-img-wrapper {
  margin: 3rem auto;
  width: 100%;
  padding: 0 2rem;
  display: grid;
}

.default-section-one-external-link-desktop-img-wrapper img {
  width: 100%;
  margin: auto;
  opacity: 0.8;
  justify-self: center;
}

.default-section-one-external-link-desktop-wrapper h2 {
  padding: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  grid-column: 1/-1;
}

.default-section-one-external-link-desktop-wrapper p {
  padding: .5rem;
  font-size: 1rem;
  line-height: auto;
  width: 70%;
  margin: auto;
}

.default-section-one-external-link-desktop-wrapper button {
  margin: 3rem auto 0 auto;
  justify-self: center;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  border: #f1f1f1;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.default-section-one-external-link-desktop-text-wrapper {
  grid-column: 2;
  grid-row: 2;
  display: grid;
}

.line-divider-home {
  width: 80vw;
  max-width: 1000px;
  height: 1px;
  background-color: rgb(224, 164, 53);
  margin: 2rem auto;
}