.affiliate-card-wrapper {
  width: 90%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.affiliate-card-img-wrapper {
  margin: auto;
  width: 100%;
  height: 100%;
  max-height: 30rem;
  display: grid;
}

.affiliate-card-img-wrapper img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  opacity: 0.8;
  object-fit: cover;
  align-self: center;
  background-color: #fff;
}

.affiliate-card-text-wrapper h2 {
  padding: 0 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  align-self: flex-start;
}

.affiliate-card-text-info {
  align-self: center;
  padding: 0 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 5.5rem auto;
}

.affiliate-card-text-info p {
  font-size: 1rem;
  line-height: auto;
}

.affiliate-card-wrapper button {
  margin: 2rem auto;
  justify-self: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: .5vw;
  border: #f1f1f1;
  height: fit-content;
  width: fit-content;
  grid-column: 1;
}

.affiliate-card-text-wrapper {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-gap: 1rem;
}

.line-divider-home {
  width: 80vw;
  max-width: 1000px;
  height: 1px;
  background-color: rgb(224, 164, 53);
  margin: 2rem auto;
}

.affiliate-card-instructors-wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.affiliate-card-instructors-wrapper img {
  max-width: 10rem;
  width: 10vw;
  margin: 1rem;
  border-radius: 1rem;
}