.home-mobile-wrapper {}

.home-mobile-header-wrapper {
  position: relative;
  width: 100vw;
  height: 92vh;
  background-image: url(../../../shared/img/HeaderImg.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  /* opacity: 0.6; */
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.home-mobile-header-wrapper h2 {
  grid-row: 2/4;
  grid-column: 1/6;
  padding: 2vw 4vw;
  align-self: center;
  font-size: 5.4vw;
  position: relative;
  z-index: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.home-mobile-header-wrapper button {
  z-index: 500;
  grid-row: -4/-2;
  grid-column: 1/4;
  position: relative;
}

.white-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: #fff;
}